<div class="container">
<h1><%= content_for(:title, "Datapolitik")%></h1>
<h2>Formål</h2>

<p>
  I denne persondatapolitik kan du læse mere om, hvordan Geekhub indsamler, beskytter og anvender personoplysninger. Geekhub respekterer alle ønsker om at beskytte de personlige oplysninger, som du giver os enten direkte eller indirekte. <br/> Vores mål er, at du kan føle dig tryg og sikker på, at vi beskytter dine personlige oplysninger.
  Personlige oplysninger dækker her alle oplysninger, der kan bruges til at identificere dig. Det omfatter afgivne oplysninger som fx navneoplysninger, adresse, e-mail-adresse, købsoplysninger, søgeadfærd og lign.
</p>

<h2>
Hvilke personoplysninger indsamler Geekhub?
</h2>

Geekhub bruger personoplysninger til at registrere indstillinger af funktioner etc., sende nyhedsbreve og lignende. Geekhub indsamler aldrig supplerende oplysninger fra tredjemand.

<h2>
Hvad bruges personoplysningerne til?
</h2>

Geekhub bruger dine oplysninger til at give dig adgang til dine abonnementer med netop dine indstillinger etc. Hvis du har tilmeldt dig vores nyhedsbrev, vil vi på e-mail sende dig nyhederDu har altid mulighed for at få oplyst, hvilke oplysninger vi har registreret om dig, og du kan i henhold til Persondataloven gøre indsigelse mod en evt. registrering.

<h2>
Oprettelse af events Geekhub
</h2>

Du kan kun oprette events på Geekhub når du samtidig oplyser din e-mail-adresse. Du logger dig på din konto med din e-mail-adresse og dit personlige kodeord. 

<h2>
Hvem videregiver Geekhub personoplysninger til?
</h2>

De personoplysninger, du afgiver på Geekhub, bruger vi kun internt til at drive Geekhubs funktioner.

<h2>
Geekhub bruger cookies
</h2>

Ud over de oplysninger, du selv indtaster, når du bruger vores hjemmeside, anvender hjemmesiden cookies. En cookie er en lille tekstfil, som hjemmesiden gemmer i din browser. Den anvendte cookie identificerer ikke dig som bruger, men derimod den computer, du bruger. Brugen af cookies har ingen indflydelse på sikkerheden ved at anvende hjemmesiden. Alle besøg på Geekhub registreres samlet og anvendes i anonymiseret form til statistiske analyser om den generelle brug af hjemmesiderne.

<h2>
Ændringer af Geekhub persondatapolitik
</h2>

Geekhub er forpligtet til løbende at opfylde lovens krav til beskyttelse af privatlivets fred. Vi vil derfor foretage fornødne justeringer af vores persondatapolitik løbende.
</div>