<div class="container">
<% content_for(:title, "Kalender feed")%>
<h1>Få events direkte i din kalender <sup><span class="label">beta</span></sup></h1>
<p>Det er muligt at subscribe på events i din kalender applikation (f.eks Google Kalender, Outlook osv.), så du kan se hvornår der er events i danmark.</p>

<h2>Google Kalender</h2>
<p>Tryk på linket:</p>
<pre>
<a href="http://www.google.com/calendar/render?cid=http%3A%2F%2Fwww.geekhub.dk%2Fmeetings.ics" target="_blank">Tilføj til din Google Kalender</a>
</pre>
<h2>Andre klienter</h2>
<p>Brug følgende URL i dit kalender-program:</p>
<pre>http://www.geekhub.dk/meetings.ics</pre>

<p class="help-block"><strong>Protip:</strong> Du kan bruge de samme filtre (querystrings) som du kan bruge i vores API til at filtrer efter arrangør eller by: <a href="https://github.com/geekhubdk/geekhub/wiki/api">Læs om API'et her</a></p>
</div>