<h1><%= content_for(:title, "Kontakt")%></h1>
<p>Hvis du oplever fejl - har gode ideer - eller bare generelt vil i kontakt med Geekhub, så kan du gøre det via Email eller via Twitter:</p>
<p>Email: <a href="mailto:hello@geekhub.dk">hello@geekhub.dk</a></p>
<p>Twitter: <a href="http://twitter.com/geekhubdk">@geekhubdk</a></p>