<h1><%= content_for(:title, "RSS feed")%></h1>
<p>Du har mulighed for at abonomere på events på Geekhub via din RSS-reader (f.eks. Google Reader)</p>
<h2>Google Reader</h2>
<p>Tryk på linket:</p>
<pre><a href="http://fusion.google.com/add?source=atgs&feedurl=http%3A//www.geekhub.dk/meetings.rss" target="_blank">Tilføj til Google Reader</a></pre>
<h2>Andre klienter</h2>
<p>Brug følgende URL i din RSS-reader:</p>
<pre>http://www.geekhub.dk/meetings.rss</pre>
<p class="help-block"><strong>Protip:</strong> Du kan bruge de samme filtre (querystrings) som du kan bruge i vores API til at filtrer efter arrangør eller by: <a href="https://github.com/geekhubdk/geekhub/wiki/api">Læs om API'et her</a></p>