<% content_for(:title, 'RSS feed')%>
<div class="container">
  <h1>RSS feed</h1>
  <p>Du har mulighed for at abonomere på events på Geekhub via din RSS-reader (f.eks. Google Reader)</p>
  <h2>Feedly</h2>
  <p>Tryk på linket:</p>
  <pre><a href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fwww.geekhub.dk%2Fmeetings.rss" target="_blank">Tilføj til Feedly</a></pre>
  <h2>Andre klienter</h2>
  <p>Brug følgende URL i din RSS-reader:</p>
  <pre>http://www.geekhub.dk/meetings.rss</pre>
  <p class="help-block"><strong>Protip:</strong> Du kan bruge de samme filtre (querystrings) som du kan bruge i vores API til at filtrer efter arrangør eller by: <a href="https://github.com/geekhubdk/geekhub/wiki/api">Læs om API'et her</a></p>
</div>