<div id="login" class="simple-page">
    <div class="site-content">
        <div class="heading">
            <h1>Tjek din mail</h1>
        </div>
        <div class="intro">
            <p>Du har fået en kode, du skal kaste ind her:</p>
        </div>
        <div class="form">
            <form method="POST">
                <div class="form-row">
                    <div class="label">
                        <label>Kode</label>
                    </div>
                    <div class="controls">
                        <input type="tel" name="code" placeholder="Din kode" maxlength="4" />
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" value="OK" />
                </div>
            </form>
        </div>
    </div>
</div>