<div class="attendees">
  <h2>De kommer (<%= @attendees.count %>):</h2>
  <%= render @attendees.reverse, locals: { meeting: @meeting } %>

  <small class="muted">(Billeder er fra <a class="muted" target="_blank" href="http://gravatar.com/">Gravatar</a> eller <a class="muted" target="_blank" href="http://twitter.com">Twitter</a>. Hvis der skal ansigt på dig, så tilmeld dig på en af disse sites)</small>
</div>
