<div id="detendModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_tag destroy_attendee_meeting_attendees_path(meeting_id: @meeting.id), style: "margin: 0" do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Afmelding</h3>
  </div>
  <div class="modal-body">
    <p>Skriv email på deltageren, og tryk på <em>Afmeld</em>.</p>

    <%= label_tag :email, "E-mail" %>
    <%= email_field_tag :email, "", required: true %>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Luk</button>
    <input type="submit" class="btn btn-primary" value="Afmeld" />
  </div>
  <% end %>
</div>