<div class="filters col-md-12">
  <%= form_tag '', method: :get, remote: true do %>
    <div id="location-filter">
      <% @location_filters.group_by(&:region).each do |region, filters| %>
          <div class="group">
            <div>
              <%=region.blank? ? 'Andet' : region.name%>
            </div>
            <div class="btn-group">
              <% filters.each do |f| %>
                <label class="btn btn-default">
                  <%= check_box_tag 'location[]', f.name, is_filter_active(f) %>
                  <%= f.name %>
                </label>
              <% end %>
            </div>
          </div>
      <% end %>
      <div class="group">
        <div>&nbsp;</div>
        <div class="btn-group">
          <a id="save_filter" href="#" class="btn" title="Gem filter">
            <i class="icon-hdd"></i>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>