<div class="meeting"> 
  <div class="map hidden-phone">
    <% if meeting.city.try(:name) == "Online" %>
      <div class="online"></div>
    <% else %>
      <% unless meeting.address.blank? %>
        <%= google_maps_image_link meeting.address, 250, 150 %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= friendly_date(meeting.starts_at) %>
  </div>
  <div class="title">
      <%= link_to meeting.title, meeting, title: meeting.title %>
  </div>
  <div>
    <%= render partial: 'tags', locals: { meeting: meeting } %>
  </div>
</div>

