<div class="tags">
  	<div class="tags-tag location"><%= meeting.location %></div>
  	<% unless meeting.costs_money %>
    	<div class="tags-tag free">Gratis</div>
  	<% end %>
	<div class="tags-tag organizer"><%= meeting.organizer %></div>
</div>