<div class="votes">
	<span class="num-votes"><%= @meeting.meeting_votes.count %></span>
	<span class="label"> 
		up's - 
		<%= link_to('Stem', vote_meeting_path(@meeting), method: :post) if @can_vote %>
		<% unless @can_vote %>
			<% if user_signed_in? %>
				<%= "Du har allerede stemt" %>
			<% else %>
				<%= "Du skal logge ind for at stemme" %>
			<% end %>
		<% end %>
	</span>
</div>