<div class="container">
<h1><%= content_for :title, "Alle events" %></h1>

<div class="meetings row" style="margin-top: 15px;">
  <div class="span12">
    <%= render @meetings%>
  </div>
</div>
</div>