<%= render 'shared/intro' %>
<h1>
  <%= "Kommende events" if @mode == :upcomming %>
  <%= "Events der mangler godkendelse" if @mode == :approve %>
</h1>
<div class="meetings">
  <%= render @meetings %>
</div>
