<%= render 'shared/intro' %>

  <% @meetings.group_by(&:month).sort.each do |month, meetings|%>
    <h2><%= month_name month %></h2>
    <div class="meetings">
      <%= render meetings %>    
    </div>
  <% end %>
