<div class="masthead">
  <div class="container">
    <div class="progress">
      <div class="step" style="width: 100%;"></div>
    </div>
  </div>
</div>
<div class="container step3">
  <div style="text-align:center">
    <h1>Bred ymer!</h1>
    <p style="margin-bottom:20px">Du klarede forhindringsbanen og er nu klar til at bruge geekhub.</p>
    <a href="/" class="btn primary large">Luk mig ind!</a>
  </div>
</div>