<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&region=DA&libraries=drawing"></script>
<div class="masthead">
  <div class="container">
    <div class="progress">
      <div class="step" style="width: 75%;"></div>
    </div>
  </div>
</div>
<div class="container step3">
  <form>
    <div class="page-header">
        <h1>Fortæl os hvor doven du er
          <small>så vi ikke invitere dig til ting som er for langt væk</small></h1>
    </div>
    <div class="row">
      <div class="span16">
        <p>
          Vælg herunder hvor mange kilometer i en radius, et event skal være indefor, før du vil høre om det.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <div class="box" style="text-align:center; margin-bottom: 20px">  
          <input id="distance" name="distance" type="range" style="width:100%" min="10" max="400" value="100">          
          <span><span id="distance-value"></span> KM</span>
        </div>
        <div class="box" style="margin-bottom: 20px">
          <ul class="inputs-list">
            <li><label><input type="checkbox">Gør mig altid opmærksom på store events med mange deltagere, selvom de er uden for min radius.</label></li>
          </ul>
        </div>
        <div class="box">
          <ul class="inputs-list">
            <li><label><input type="checkbox" checked="checked">Send mig en email, når der kommer et arrangement i mit område.</label></li>
          </ul>
        </div>
      </div>
      <div class="span10">
        <div class="box">
          <div id="map_canvas" style="width:100%;height:400px"></div>
        </div>
      </div>
    </div>

    <div class="actions" style="text-align: right;">
      <input type="submit" class="btn primary" value="Fortsæt">
    </div>
  </form>
</div>