<style>
  .suggestion label {
    color: #3a4;
  }
</style>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
<div class="masthead">
  <div class="container">
    <div class="progress">
      <div class="step" style="width: 45%;"></div>
    </div>
  </div>
</div>
<div class="container step2">
  <div class="page-header">
      <h1>Fortæl os hvad du koder
        <small>så vi kan finde nørder lige som dig og arragementer som du kan lide</small></h1>
  </div>
  <form>
  <div class="row">
    <div class="span4">
      <h2>Vælg hvad der interesere dig</h2>
      <p>
        Vælg de sprog, frameworks eller platforme som du interesere dig for. 
        Hvis du ikke finder det som du søger, så kan du anmode om at oprette en 
        ny kategori. Der skal 5 personer til, før kategorien bliver endeligt 
        godkendt.
        
        <ul>
          <li><strong>Sprog:</strong> De programmeringssprog du skriver kode i.</li>
          <li><strong>Frameworks:</strong> Store stumper kode, som giver dig noget funktionalitet. Her snakkes der f.eks. om <i>Ruby on Rails</i> eller <i>.NET Framework</i></li>
          <li><strong>Platforme</strong>: F.eks. Windows, iOS eller Linux</li>
        </ul>
      </p>
    </div>
    <div class="span4">
      <h3>Sprog</h3>
      <ul class="inputs-list">
        <li><label><input type="checkbox">C#</label></li>
        <li><label><input type="checkbox">Ruby</label></li>
        <li><label><input type="checkbox">PHP</label></li>
        <li><label><input type="checkbox" checked="checked">Java</label></li>
        <li><label><input type="checkbox">Javascript</label></li>
        <li><label><input type="checkbox">Coffeescript</label></li>
        <li><label><input type="checkbox">HTML</label></li>
        <li><label><input type="checkbox">XAML</label></li>
      </ul>
      <hr/>
      <ul class="inputs-list">
        <li><a href="#" data-controls-modal="new-language-modal" data-backdrop="static">Foreslå ny</a></li>
      </ul>
    </div>
    <div class="span4">
      <h3>Frameworks</h3>
      <ul class="inputs-list">
        <li><label><input type="checkbox">.NET Framework</label></li>
        <li><label><input type="checkbox">Ruby on Rails</label></li>
        <li><label><input type="checkbox">Django</label></li>
        <li><label><input type="checkbox">jQuery</label></li>
        <li class="suggestion"><label><input type="checkbox" checked="checked">Java beans</label></li>
      </ul>  
      <hr/>
      <ul class="inputs-list">
        <li><a href="#">Foreslå ny</a></li>
      </ul>
    </div>
    <div class="span4">
      <h3>Platforme</h3>
      <ul class="inputs-list">
        <li><label><input type="checkbox">Web</label></li>
        <li><label><input type="checkbox" checked="checked">Windows</label></li>
        <li><label><input type="checkbox">Mac OS</label></li>
        <li><label><input type="checkbox">iOS</label></li>
        <li><label><input type="checkbox">Andriod</label></li>
        <li><label><input type="checkbox">Windows Phone</label></li>
        <li><label><input type="checkbox">Linux</label></li>
      </ul>  
      <hr/>
      <ul class="inputs-list">
        <li><a href="#">Foreslå ny</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span16">
      <div class="actions" style="text-align: right">
        <input type="submit" class="btn primary" value="Fortsæt">
      </div>
    </div>
  </div>
  </form>
  
  <div id="new-language-modal" class="modal fade" style="display:none">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h3>Foreslå nyt sprog</h3>
    </div>
    <div class="modal-body">
      <form>
      <table class="zebra-striped bordered-table">
        <thead>
          <tr>
            <th>Alderede forslået</th>
          </tr>
        </thead>
        <tr>
          <td>
            <div class="inputs-list">
            <label><input type="radio" name="suggestion"/> LOLCode</label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="inputs-list">
              <label><input type="radio" name="suggestion"/> Kobol</label>
            </div>
          </td>
        </tr>  
        <tr>
          <td>
              <input type="radio" name="" id="" value="">
              <input type="text" class="inline" placeholder="Nyt forslag">        
          </td>
        </tr>
      </table>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn primary">Foreslå</a>
      <a href="#" class="btn secondary">Fortryd</a>
    </div>
  </div>
</div>