<div class="masthead">
  <h1>
    Velkommen til geekhub<sup>&nbsp;<span class="label warning">ALPHA</span></sup>
  </h1>
  <p class="lead">geekhub er stedet hvor de fede nørder hænger ud, </br>
    og finder og opretter nørde arrangementer til andre nørder</p>
</div>
<div class="container">
  <div class="row">
    <div class="span5 offset2 box">
      <h2>Log ind</h2>
      <p>Hvis du alderede har en bruger, kan du logge ind her</p>
      <form>
        <div class="clearfix">
            <input name="email" placeholder="E-mail" type="text" />
        </div>
        <div class="clearfix">
            <input name="password" placeholder="Kodeord" type="password" />
        </div>
        <input type="submit" class="btn primary" value="Log ind" />
      </form>
    </div>
    <div class="span5 offset1 box">
      <h2>Opret</h2>
      <p>Opret en ny bruger, og bliv en af de seje, som har en profil på geekhub!</p>
      <form>
        <div class="clearfix">
          <input name="name" placeholder="Navn" type="text" />
        </div>
        <div class="clearfix">
          <input name="email" placeholder="E-mail" type="text" />
        </div>
        <div class="clearfix">
          <input name="password" placeholder="Kodeord" type="password" />
        </div>
        <input type="submit" class="btn primary" value="Opret bruger" />
      </form>
    </div>
  </div>
</div>