<style>
  #events
  {
      background-color: #f4f4f4;
      list-style: none;
      margin: 0;
      padding: 0;
      min-height: 600px;
      border-right: 1px solid #ccc;
  }
  
  #events li
  {
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;
    overflow: hidden;
  }
  
  #events .title
  {
    font-weight: bold;
    padding-top: 10px;
    color: #333;
  }
  
  #events .date
  {
    float: left;
    border: 1px solid #eaeaea;
    margin-right: 10px;
    text-align: center;
    width: 50px;
  }
  
  #events .date big {
    display: block;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    color: #222;
    padding: 11px 0;
    width: 100%;
    background-color: #fff;
  }
  
  #events .date small {
    display: block;
    font-size: 10px;
    font-weight: bold;
    background-color: #ccf;
    padding: 4px 0;
    color: #444;
    width: 100%;
    text-transform: uppercase;
  }
  
  body > .container {
    background-color :#f4f4f4;
    border: 1px solid #ccc;
  }
  
  #event {
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
  }

  #event h1 {
    border-bottom: 1px solid #cacaca;
    font-weight: 200;
    font-size: 42px;
    padding-top: 14px;
    padding-bottom: 15px;
    margin: 0 10px 0 0;
  }
  
  #event .description {
    margin: 10px 10px 0 0;
  }
  
  #event .description p {
    line-height: 1.3em;
    color: #333;
    font-size: 14px;
  }
</style>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&region=DA&libraries=drawing"></script>
<div class="container" style="padding-top: 40px;">
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">geekhub</a></h3>
          <ul class="nav">
            <li class="active"><a href="#">Events</a></li>
            <li><a href="#">Opret et event</a></li>
            <li><a href="#">Dine events</a></li>
            <li><a href="#">Instillinger</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span8" style="height:100%">
      <ul id="events">
        <% ["CoffeeScript", "Rails for .NET'ere", "Heroku for mestre"].each do |i| %>
        <li>
          <div class="date"><small>feb</small><big>16</big>
          </div>
          <div class="title"><%= i %></div>
          <div>Odense - <%= i %></div>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="span8" style="height:100%">
      <div id="event">
        <h1>CoffeeScript</h1>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus tellus et nulla faucibus nec consequat odio viverra. Nulla iaculis nunc gravida sapien sodales euismod. Nulla gravida aliquet purus vel mattis. Fusce a augue eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque in mi eros. Mauris posuere, massa ut suscipit lacinia, augue augue luctus risus, a sagittis leo augue sed justo. Phasellus in ultricies sem. Sed adipiscing lacus eget ipsum tempus lobortis. Phasellus quis est neque, in feugiat dui. Morbi in hendrerit velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed lacus quis urna accumsan tincidunt.</p>
        </div>
      </div>
    </div>
  </div>
</div>