@model dynamic
<div id="article" class="simple-page">
    <div class="site-content">
        <div class="heading">
            <h1>Om geekhub.dk</h1>
        </div>
        <div class="intro">
            <p>
                Der findes utroligt mange tilbud om kurser, møder og arrangementer til udviklere i Danmark.
                Desvære er informationen om alt dette temmelig fragmenteret og ligger spredt ud overalt på nettet.
            </p>
            <p>
                Geekhub satser på at være stedet, hvor du hurtigt kan få et overblik over hvad der er af events i det danske udvikler community. (uanset sprog-farve)
            </p>
            <p>
                Da <a href="@Url.Action("Index", "Meetings")">listen</a> her bliver vedligeholdt manuelt, kan der være events som ikke forekommer. Hvis du spotter en der mangler, så tryk på Indsend event i menu'en. Ligeledes hvis du har gode ideer til hvad der kan gøre siden mere fed så er du meget velkommen til at <a href="mailto:hello@geekhub.dk">skrive til os</a>.
            </p>
            <p>Hvis du er I tvilv om dit event passer på vores liste. Så læs vores <a href="@Url.Action("guidelines", "articles")">retningslininer</a>.</p>
            <p>
                God fornøjelse <small><em>(popcorn ikke inkluderet)</em></small>
            </p>
        </div>
    </div>
</div>
