@model dynamic

<div id="article" class="simple-page">
    <div class="site-content">
        <div class="heading">
            <h1>Embed på din hjemmeside</h1>
        </div>
        <div class="intro">
            <p>Hjælp med at sprede budskabet om events i danmark. Tilføj denne widget til din side, og lad dine besøgende se hvor de kan mødes med andre nørder.</p>
            <p>Neden for ses et eksempel på vores widget:</p>
            <iframe src="http://www.geekhub.dk/widget" style="width:100%; height: 311px" frameborder="0"></iframe>
            <h2>HTML kode:</h2>
            <pre class="code">&lt;iframe src=&quot;http://www.geekhub.dk/widget&quot; style=&quot;width:100%; height: 311px&quot; frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;</pre>
            <h2>Parametere:</h2>
            <p>Du har mulighed for at bestemme hvad du vil vise på listen, ved at specificere tags i din querystring. F.eks:</p>
            <pre class="code">http://www.geekhub.dk/widget?tag=.net&amp;tag=ruby</pre>
            <h2>Spørgmål?</h2>
            <p>Hvis du gerne vil sætte vores widget ind på din side, men har du spørgsmål eller ønsker, så er du meget velkommen til at <a href="mailto:hello@geekhub.dk">kontakte os</a>, så finder vi ud af noget :)</p>
        </div>
    </div>
</div>