@model dynamic

<div id="article" class="simple-page">
    <div class="site-content">
        <div class="heading">
            <h1>Retningslinier for events på Geekhub.dk</h1>
        </div>
        <div class="intro">
            <p>
                Geekhub indeholder en liste over events / arrangementer som er interesandte for udviklere. Listen er brugerskabt, så vi lever af at folk giver sig tid til at hjælpe, ved at tilføje til listen.
            </p><p>
                Derfor er vi <em>meget</em> glade for hvis du har tænkt dig at tilføje et event.
            </p><p>
                For at reducere støj, så er der nogle retningslinier som må overholdes. Du kan se disse nedenfor:</p>
                <ul>
                    <li>Målgruppen for møderne er udviklere / IT folk, som typisk vil tage til disse møder i deres fritid, eller måske tager en fridag for at gå til arrangementet.</li>
                    <li>Du behøver ikke at være arrangøren for at oprette et event.</li>
                    <li>Alle kan efterfølgende rette og slette dit event. Vi regner med at folk opføre sig ordenligt og kun retter fejl. Hvis dit event er blevet slettet, så er du velkommen til at <a href="mailto:hello@geekhub.dk">skrive til os</a>, og spørge hvorfor. Vi kan også genskabe events, hvis nogen har været ude på balade.</li>
                    <li>Et event må gerne koste penge. Normalt skal prisen dog være til at en privatperson kan vælge at betale. Dette udelukker f.eks. <em>kurser</em> som er tiltænkt at arbejdsgiver betaler. Flerdages konferencer er dog undladt for denne regel (f.eks. GOTO).</li>
                    <li>Det må ikke være et krav at man skal være medlem af en bestemt <i>klub</i> som koster penge, eller alle ikke kan være med i. Dette kunne f.eks. være en A-kasse.</li>
                    <li>Det er okay at oprette møder hvor kun kvinder kan deltage. Skriv dog dette tydeligt i din tekst. Dette er for at imødekomme den indsats der er p.t. omkring at få flere kvinder i IT.</li>
                    <li>Det er også <i>okay</i> at lave møder hvor kun mænd kan deltage. Du får nok bare ikke særligt meget godwill ud af det. Så træd varsomt! :D</li>
                    <li>Et møde må gerne have en social karakter - altså uden noget emne. F.eks. en fredagsbar eller lign. Kravet er bare at dette er et event primært for udviklere eller IT folk.</li>
                </ul>

                <p><strong>I tvilv om dit event passer ind?</strong> Så opret dit event, og <a href="mailto:hello@geekhub.dk">skriv en mail til os</a>, så skal vi nok se på det.</p>
                
            <p>Fik vi sagt at vi er <i>meget</i> glade for alle bidrag? :)</p>
            <p>Er du klar? Så <a href="@Url.Action("create", "meetings")">opret et event</a>!</p>
        </div>
    </div>
</div>