@model dynamic
<div id="article" class="simple-page">
    <div class="site-content">
        <div class="heading">
            <h1>Kalender Feed</h1>
        </div>
        <div class="intro">
            <p>
               Vil du gerne have events ind i din kalender? Så brug nedestående link I din kalender: 
            </p>
            <p>
                <pre>http://www.geekhub.dk/meetings.ics</pre>  
            </p>
        </div>
    </div>
</div>