@model dynamic
<div id="article" class="simple-page">
    <div class="site-content">
        <div class="heading">
            <h1>RSS Feed</h1>
        </div>
        <div class="intro">
            <p>
                Vil du have nye events fra Geekhub ind i din RSS reader (f.eks. <a href="http://feedly.com" target="_blank">Feedly</a>)? Så brug linket nedenfor:
            </p>
            <p>
                <pre>http://www.geekhub.dk/meetings.rss</pre>  
            </p>
        </div>
    </div>
</div>