<div class="meeting">
  <table>
    <tr>
      <td class="date">
        <span class="day"><%= l meeting.starts_at, format: :day %></span>
        <span class="month"><%= l meeting.starts_at, format: :month %></span>
      </td>
      <td class="title">
        <%= meeting.title %>
      </td>
      <td class="information">
        <div class="tags">
          <div class="tag location"><%= meeting.location %></div>
          <div class="tag technology">.NET</div>
          <div class="tag technology">Web</div>
          <% unless meeting.costs_money %>
            <div class="tag free">Gratis</div>
          <% end %>
        </div>
      </td>
    </tr> 
  </table>  
</div>