== render 'shared/navigation'

== link_to "Indsend event", new_meeting_path, class: "big-frontpage-button"

h1 Velkommen til geekhub

== render 'shared/intro'

section.grid_12
	.filters
		= form_tag root_path, method: :get do
			.filters-locations
				- @location_filters.each do |f|
					.filters-filter
						label
							== check_box_tag "location[]", f, @active_location_filters.any?{|l| l.downcase == f.downcase} || @active_location_filters.empty?
							== f
			= submit_tag "Tilpas"

	div.meetings 
		== render :partial => "meetings/list", :collection => @meetings, :as => :meeting