@model Geekhub.Modules.Blog.ViewModels.BlogPostViewModel[]
<div class="blog-posts">
    @foreach(var post in Model) {
        <a class="item" href="@post.Link">
            <div class="title">@post.Title</div>
            <div class="createdAt icon-clock semi-transparent-icon">@post.CreatedAt.ToString("dd. MMMM yyyy")</div>
        </a>
    }
</div>
