.main-nav {
	margin-left: 0;
	margin-top: 20px;
	margin-bottom: 30px;
	display: table;
	width: 100%;
	font-weight: normal;

	.main-nav-tab {
		display: table-cell;
		padding: 5px;
		min-width: 100px;
		text-align: center;
		background-color: #EFEFEF;
		text-transform: uppercase;

		a { color: #444; text-decoration: none; }
		a:hover { color: #444; text-decoration: underline; }


    @media (max-width: 480px) {
    	display: block;
    }
	}
}

#events .main-nav-tab-events, #organizers .main-nav-tab-organizers, #feedback .main-nav-tab-feedback, #contact .main-nav-tab-contact, #html-widget .main-nav-tab-html-widget {
    a { color: #fff; }
    background-color: #1F93DE;
    position: relative;
}
	
@media (min-width: 481px) {
	#events .main-nav-tab-events:after, #organizers .main-nav-tab-organizers:after, #contact .main-nav-tab-contact:after {
		content: '';
		position: absolute;
		display: block;
		left: 50%;
		bottom: -8px;
		margin-left: 0px;
		font-size: 0px; line-height: 0%; width: 0px;
		border-left: 8px solid #1F93DE;
		border-bottom: 8px solid transparent;
	}

	#events .main-nav-tab-events:before, , #organizers .main-nav-tab-organizers:before, #contact .main-nav-tab-contact:before{
		content: '';
		position: absolute;
		display: block;
		left: 50%;
		bottom: -8px;
		margin-left: -8px;
		font-size: 0px; line-height: 0%; width: 0px;
		border-right: 8px solid #1F93DE;
		border-bottom: 8px solid transparent;
	}
}
