<% content_for(:title, 'HTML Widget')%>
<div class="container">
  <div id="html-widget">
    <h1>Tilføj en liste over events på din side <sup><span class="label">beta</span></sup></h1>
    <p>Hjælp med at sprede budskabet om events i danmark. Tilføj denne widget til din side, og lad dine besøgende se hvor de kan mødes med andre nørder.</p>
    <div class="row" style="margin-top: 50px;">
      <div class="span3">
        <div class="well">
          <strong>Eksempel:</strong>
          <iframe src="<%=widget_url%>" style="width:100%; height: 198px" frameborder="0"></iframe>
        </div>
      </div>
      <div class="span9">
        <div class="well">
          <strong>Kode:</strong>
          <textarea style="box-sizing: border-box; width: 100%; height: 50px;">
<iframe src="<%=widget_url%>" style="width:100%; height: 198px" frameborder="0"></iframe>
          </textarea>
          <small>
            <p class="help-block"><strong>Protip:</strong> Du kan sende din event heading med vis at sende en <em>title</em> querystring med. Du kan også bruge de samme filtre (querystrings) som du kan bruge i vores API til at filtrer efter arrangør eller by: <a href="https://github.com/geekhubdk/geekhub/wiki/api">Læs om API'et her</a></p></small>
          </div>
        </div>
      </div>
    <div class="row" style="margin-top: 50px;">
      <div class="span3">
        <div class="well">
          <strong>Eksempel (stor):</strong>
          <iframe src="<%=widget_url(mode: "large")%>" style="width:100%; height: 311px" frameborder="0"></iframe>
        </div>
      </div>
      <div class="span9">
        <div class="well">
          <strong>Kode:</strong>
          <textarea style="box-sizing: border-box; width: 100%; height: 50px;">
<iframe src="<%=widget_url%>" style="width:100%; height: 311px" frameborder="0"></iframe>
          </textarea>
          <small>
            <p class="help-block"><strong>Protip:</strong> Du kan sende din event heading med vis at sende en <em>title</em> querystring med. Du kan også bruge de samme filtre (querystrings) som du kan bruge i vores API til at filtrer efter arrangør eller by: <a href="https://github.com/geekhubdk/geekhub/wiki/api">Læs om API'et her</a></p></small>
          </div>
        </div>
      </div>
      
    </div>

  </div>
