@model IEnumerable<Geekhub.App.Modules.Meetings.Models.Meeting>
<div class="only-small">
    <h2>De tre næste events</h2>
    @Html.Partial("_Meetings")
</div>
<div class="only-big">
    @Html.Partial("../MeetingsMap/Index", (object)ViewBag.MapData)
</div>