// Place all the styles related to the attendees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.attendee {
	margin-bottom: 10px;
  img {
    border-radius: 50px;
    margin-right: 5px;
    border: 2px solid #d8d8d8;
  }
}