form {
  .field { margin-bottom: 10px; }
  .field label, .field small { display: block; }
  .field.checkbox label { display: inline; }

  .revision_overview tr td {
    border: 1px solid gray;
    padding: 10px;
  }

  .datepicker {
  	width: 105px;
  }

  input {
  	font-size: 120%;
  }

  textarea {
  	font-size: 100%;
  	font-family: serif;
  }

  input, textarea {
  	border: 1px solid #cacaca;
  	border-radius: 4px;
  	padding: 4px;
  }

  input[type=submit] {
  	background-color: #cacaca;
  	border: 1px solid gray;
  	box-shadow: 0 1px 0 lightgray inset, 0 -1px 0 lightgray inset;
  }

  input[type=submit]:hover {
  	cursor: pointer;
  	box-shadow: 0 1px 0 gray inset, 0 -1px 0 gray inset;
  }

  .date, .time {
  	display: table-cell;
  }

  .time {
  	padding-left: 10px;
  }

  .well {
  	border: 1px solid #ddd;
  	padding: 15px;
  	margin-bottom: 15px;
  }

}
