form {
  .field { margin-bottom: 10px; }
  .field label, .field small { display: block; }
  .field.checkbox label { display: inline; }

  .revision_overview tr td {
    border: 1px solid gray;
    padding: 10px;
  }

  .datepicker {
  	width: 110px;
  }

  .date, .time {
  	display: table-cell;
  }

  .time {
  	padding-left: 10px;

    select {
      width: inherit;
    }
  }
}
