// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meeting .date {
  margin-right: 10px;
  border-radius: 2px;
  width: 45px;

  .day, .month {
    display: block;
    text-align: center;
    padding: 2px 5px;
  }

  .day {
    color: #333;
    font-size: 120%;
  }

  .month {
    margin-top: -5px;
    font-size: 80%;
    font-weight: bold;
  }
}

.meeting {
  overflow: hidden;
}

.meeting>table {
  width: 100%;
}

.meeting .information {
  font-size: 80%;
}

.meeting .title {
  font-size: 120%;
  padding-left: 10px;
  padding-right: 10px;
}

.meeting .location {
  text-align: right;
}

.meeting .tags {
  text-align: right;
}

.meeting .tags .tag {
  display: inline-block;
  padding: 2px 4px;
  margin-top: 5px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.meeting .tags .tag.technology {
  color: #336644;
}

.meeting .tags .tag.location {
  color: #777799;
}

.meeting .tags .tag.free {
  font-weight: 500;
}