.meeting { 
  border-bottom: 1px solid #e5e5e5;
  padding: 18px 8px;
  background-color: #f8f8f8;
  color: #222;
  font-size: 12px;
  cursor: pointer;
  
  h2 {
    letter-spacing: 0.115em;
    margin: 0;
    font-weight: 300;
    font-size: 28px;
    
    a {
      text-decoration: none;
      color: #333;
    }
  }
  
  .info {
    padding-top: 6px;
    padding-left: 2px;
  }
  
  .details {
    margin-top: 10px;
    font-size: 120%;
  }
  
  .url {
    margin-top: 25px;
    font-size: 120%;
    border: 2px solid lightblue;
    padding: 10px 45px;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.meeting:last-child {
  border-bottom: 0;
}