article.meeting
{
  aside { margin-top: 20px; }
  .starts_at { display: block; margin-bottom: 16px; }
  .tags { margin-bottom: 18px; }
  .description { margin-bottom: 18px; line-height: 1.5em; }
  .back { margin-top: 90px; }
  .google-map-image { border-radius: 5px; }
  h1 { margin-bottom: 10px; }
  h1 a { text-decoration: none; color: #333; }
  footer { border-top: 1px solid #C6C6C6; padding-top: 15px; }
}

.meetings {
  a {
    color: #333;
  }

  .meeting {
    margin-bottom: 25px;
    border: 1px solid #C6C6C6;
    border-top: 5px solid #0072BB;
    padding: 25px;
    box-shadow: rgba(200, 200, 200, 0.199219) 2px 2px 2px 0px;
    overflow: hidden;

    h1 {
      font-size: 140%;
      line-height: 150%;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
      
      @media (max-width: 480px) {
        text-overflow: inherit;
        overflow: inherit;
        white-space: inherit;
      }
    }

    .map {
      margin: -25px -25px -25px 0px;
      float: right;

      .online {
        background-color: #66B8DB;
        width: 250px; 
        height: 150px; 
        background-image: url(/cloud.png);
        background-repeat:no-repeat;
        background-position: center center;
      }
      .google-map-image { border-radius: 0px; }
    }
  }
  .blur {
    display: none;
  }
}
