.meetings {
  border-top: 5px solid #0072BB; 
  border-bottom: 1px solid #C6C6C6; 
  margin-bottom: 50px;
  box-shadow: 2px 2px 2px rgba(200,200,200,0.2);

  a { text-decoration: none; }

  .meeting { 
    border-bottom: 1px solid #e5e5e5;
    padding: 24px 20px;
    background-color: #f8f8f8;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    color: #222;
    font-size: 12px;
    cursor: pointer;
  }

  .meeting:last-child {
    border-bottom: 0;
  }

  h2 {
    letter-spacing: -1px;
    font-weight: bold;
    margin: 0;
    font-size: 35px;
  }
  
  h2 a {
      color: #222;
  }

  .info {
    padding-top: 6px;
    padding-left: 2px;
  }

  .location {
    font-weight: normal;
  }
  
  .details {
    padding-left: 4px;
    padding-right: 15px;
    margin-top: 20px;
    font-size: 14pt;
    line-height: 30px;
  }
  
  .url {
    display: inline-block;
    clear:both;
    margin-top: 85px;
    margin-bottom: 10px;
  }

  .alt-actions {
    margin-top: 45px;
    float: right;
  }

  .ics, .edit_meeting {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 16px;

    a {
      padding-left: 22px;
      background-repeat: no-repeat;
      line-height: 16px;
      display: inline-block;
      color: #666;
      z-index: 0;
    }
  }

  .ics a { background-image: url(../ics.png); }
  .edit_meeting a { background-image: url(calendar_pen.png); }

  .money-icon {
    vertical-align: top;
    padding-left: 5px;
    opacity: 0.4;
    z-index: 0;
  }
}





