// Place all the styles related to the organizers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.organizers {
  margin-top: 50px;

	.organizer {
    margin-bottom: 25px;
    border: 1px solid #C6C6C6;
    border-top: 5px solid #0072BB;
    padding: 25px;
    box-shadow: rgba(200, 200, 200, 0.199219) 2px 2px 2px 0px;

    h1 {
      font-size: 140%;
      line-height: 150%;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
	}
}