h1 { font-weight: 300; font-size: 30px; }
h2 { font-weight: 300; font-size: 20px; }
strong { font-weight: bold; }

body { 
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 300;
  background-color: #F9F9F9;
}

a {
  color: #333;
}

a.brand {
  font-weight: 400 !important;
}

.intro-show-more {
  display: block;
  margin-top: 16px;
}

body>footer {
  margin-top: 50px;

  .footer-content {
    border-top: 1px solid #C6C6C6;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

#user_toolbar {
  display: inline-block;
  img {
    vertical-align: top;
  }
}

.big-frontpage-button {
  display: inline-block;
  float: right;
  background: #0072BB;
  padding: 25px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: right;

  @media (max-width: 480px) {
    display: block;
    float: inherit;
    padding: 5px;
    text-align: center;
  }
}