$navbarBackground: #0072BB;
$navbarBackgroundHighlight: #0072BB;
$navbarText: #fff;
$navbarBrandColor: #fff;
$navbarLinkColor: #fff;

@import "bootstrap";
@import "bootstrap-responsive";

h1 { font-weight: 300; font-size: 30px; }
h2 { font-weight: 300; font-size: 20px; }
strong { font-weight: bold; }

body { 
  padding-top: 60px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 300;
  background-color: #F9F9F9;
}

a.brand {
  font-weight: 400 !important;
}

body>footer {
  margin-top: 50px;

  .footer-content {
    border-top: 1px solid #C6C6C6;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

#user_toolbar {
  display: inline-block;
  img {
    vertical-align: top;
  }
}

.big-frontpage-button {
  display: inline-block;
  float: right;
  background: #0072BB;
  padding: 25px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: right;

  @media (max-width: 480px) {
    display: block;
    float: inherit;
    padding: 5px;
    text-align: center;
  }
}

#location-filter .group {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

form {
  .field { margin-bottom: 10px; }
  .field label, .field small { display: block; }
  .field.checkbox label { display: inline; }

  .revision_overview tr td {
    border: 1px solid gray;
    padding: 10px;
  }

  .datepicker {
    width: 110px;
  }

  .date, .time {
    display: table-cell;
  }

  .time {
    padding-left: 10px;

    select {
      width: inherit;
    }
  }
}

.tags {
  .tags-tag {
    display: inline-block;
    padding: 2px 4px;
    margin-top: 5px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  .tags-tag.technology {
    color: #336644;
  }

  .tags-tag.location {
    color: #777799;
  }

  .tags-tag.free {
    font-weight: 500;
  }
}


@import "meetings";
@import "organizers";
@import "modules/main_nav";