<link href="~/Public/Vendor/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
<style>
    .jvectormap-zoomin, .jvectormap-zoomout {
        display: none;
    }
</style>

<div style="width:600px; height: 600px">
    <div id="map" style="width:100%; height:100%">

    </div>
</div>
<script src="~/Public/Vendor/jquery/jquery-2.1.0.min.js"></script>
<script src="~/Public/Vendor/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Public/Vendor/jquery-jvectormap/jquery-jvectormap-dk-merc-en.js"></script>
<script>

    var markers = @Model;

    $(function () {
        $('#map').vectorMap({
            map: 'dk_merc_en',
            backgroundColor: "#fff",
            regionStyle: {
                initial: {
                    fill: '#666',
                    "fill-opacity": 1,
                    stroke: 'none',
                    "stroke-width": 0,
                    "stroke-opacity": 1
                },
                hover: {
                    "fill-opacity": 1,
                },
                selected: {
                    fill: 'yellow'
                },
                selectedHover: {
                }
            },
            markerStyle: {
                initial: {
                    fill: '#3498db',
                    stroke: '#34495e',
                    r: 10,
                    cursor: "pointer"
                }
            },
            zoomOnScroll: false,
            zoomMin: 1,
            zoomMax: 1,
            onMarkerClick: function (e, code) {
                var marker = markers[code];
                console.log(marker);
                window.location = marker.href;
            },
            onRegionLabelShow: function(e, label, code) {
                e.preventDefault();
            },
            markers: markers
        });
    });

</script>
