<!DOCTYPE html>
<html>
  <head>
    <title>Geekhub</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Habibi' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=640" />  
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="header-content">Geekhub</div>
    </header>
    <div class="page-content">
      <%= yield %>
    </div>
    <footer>
      <div class="footer-content">
        Copyright &copy; 2012 - Deldysoft
      </div>
    </footer>
  </body>
</html>
